/* IGUAL PARA TODAS LAS PAGINAS */
body {
    position: relative;
    margin: 0%;
    font-family: 'Abril Fatface', serif;
    overflow-x: hidden;
    overflow-y: auto;
    /* Añade esta línea para controlar la barra de desplazamiento vertical */
    background: hsl(0, 0%, 90%);
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;
    margin: 0 0 30px 0;
}

/* Estilo para la barra de desplazamiento */
body::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra de desplazamiento */
}

/* Estilo para el track (fondo) de la barra de desplazamiento */
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    /* Fondo transparente del track */
}

/* Estilo para el thumb (agarre) de la barra de desplazamiento */
body::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del thumb */
    border-radius: 6px;
    /* Bordes redondeados del thumb */
}

/* Estilo para el thumb en estado hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cambia el color al pasar el mouse sobre el thumb */
}

/* FIN BARRA DEZPLAZAMIENTO */

/* NAV SECTION */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.innerWrapper {
    max-width: 920px;
    margin: 0 auto;
}

.companyName {
    padding: 21px 17px 20px 15%;
    margin: 0;
    float: left;
    color: #fff;
    width: 45%;
    background: rgb(111, 168, 220, 0.7);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: left;
    font-variant: small-caps;
    display: flex;
    align-items: center;
}

nav {
    padding: 0;
    margin: 0;
    width: 55%;
    float: right;
}

.navWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(111, 168, 220, 0.7);
    z-index: 1000;
    /* Asegura que la barra de navegación esté por encima del resto del contenido */
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    border-right: 20px solid rgb(111, 168, 220, 0.7);
}

header nav ul li {
    flex: 1;
    margin: 0;
    text-align: center;
    background: rgb(111, 168, 220, 0.7);
    list-style: none;
}

header nav ul li:hover {
    background: none;
    font-style: bold;
    transform: scale(1.2);
}

header nav ul li a {
    text-decoration: none;
    padding: 25px 0;
    color: #fff;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

header nav ul li a:focus {
    outline: none;
}

/* HEAD SECTION */

.hero {
    background: url(https://i0.wp.com/www.encantadordeperros.es/wp-content/uploads/2014/03/151.jpg?fit=1920%2C1080&ssl=1);
    text-align: center;
    text-shadow: 1px 0 2px #595859;
}

.hero h1 {
    font-size: 5.5rem;
    margin: 0;
    padding-top: 200px;
    font-family: 'Abril Fatface', serif;
    color: #fff;
}

.hero h3 {
    padding-bottom: 250px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
}

@media (max-width:900px) {
    .companyName {
        width: 100%;
        text-align: center;
        padding: 4% 4%;
    }

    .mainNav {
        width: 100%;
    }

    header nav ul {
        border: none;
    }

    header nav ul li a {
        padding: 25px 2%;
    }
}

/* Estilos generales del footer */

.new_footer_top .footer_bg {
    z-index: 1;
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    right: -0.9%;
}

.new_footer_top .footer_bg .footer_bg_one {
    z-index: 1;
    background: url("https://i.pinimg.com/originals/21/00/8c/21008c1d08c8ba85df54be8302ae3037.gif") no-repeat center center;
    width: 145px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    z-index: 1;
    background: url("https://i.gifer.com/ZbpA.gif") no-repeat center center;
    width: 140px;
    height: 85px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

footer {
    max-width: 100%;
    background-color: rgba(111, 167, 220, 0.932);
    /* Cambia esto al color de fondo deseado para el footer */
    color: #fff;
    /* Cambia esto al color de texto deseado para el footer */
    padding: 20px;
    /* Añade relleno interno al footer según tus necesidades */
    box-sizing: border-box;
    text-align: center;
}

/* Estilos para las secciones del footer */
footer div {
    flex: 1;
    margin: 20px;
}

/* Estilos para los botones  del footer*/
button {
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.726);
}

/* PANTALLA DE CARGA */
.carga {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carga.parar {
    top: -120%;
}

/* Estilos Base (reset) */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Slab:300,400');

*,
*::before,
*::after {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* botones */
.btn {
    display: inline-block;
    padding: 0.6rem 2.4rem;
    /* Ajusta el padding para hacer el botón un poco más pequeño */
    border: .2rem solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    font-size: 1rem;
    /* Ajusta el tamaño del texto del botón */
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    transition: color 0.3s, background-color 0.3s;
    /* Agrega transiciones para colores */
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--blue);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
    /* Cambia el color del texto al hacer hover */
    background-color: var(--blue);
    /* Cambia el color de fondo al hacer hover */
}

/* botones */
:root {
    --blue: #007bff;
    /* Define la variable --blue con un valor de color azul */
}

/* hasta aqui IGUAL PARA TODAS LAS PAGINAS */

.main {
    align-self: center;
    margin-top: 0%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-card1,
.content-card2,
.content-card3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 5px gray;
    border-radius: 20px;
    margin: 2%;
    padding: 10px 30px;
    max-width: 1550px;
    min-width: 1000px;
}

.content-card__title {
    margin: 20px 20px 20px 40px;
    font-size: 35px;
}

.content-card__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px;
}

.content-card__data {
    display: flex;
    font-size: 25px;
}

.contenido {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.content-card__img {
    width: 40%;
    margin: 24px 0px;
}

.img-card {
    border-radius: 20px;
    width: 96%;
}

.content-card__description {
    box-sizing: border-box;
    width: 100%;
}

.content-card__description__extra {
    display: none;
}

.visible {
    display: flex;
}

.contenido button {
    margin-top: 0px;
    width: 25%;
    margin-bottom: 20px;
}

@media (max-width:1400px) {
    .content-card__data {
        font-size: 20px;
    }
}